<div style="margin-right: 80%;margin-top: 1%; width: 100%;">
   
    <div>
        <h1 style="font-size: 23px;font-family: 'Times New Roman', Times, serif;color: blue;margin-left: 20px;">
            Employee Type Mapping Create Form
         </h1>
        <form [formGroup]="employeetypeForm" style="margin-top:30px">
            <div class="row" >
                <div class="col-md-3">

                        <mat-form-field style="width: 200px;margin-left: 20px; ">
                            <mat-label>Employee Name</mat-label>
                            <input #empInput placeholder="Select Employee" matInput formControlName="employee_id" 
                                [matAutocomplete]="emp">
    
                            <mat-autocomplete #emp="matAutocomplete" [displayWith]="displayFnemp" (opened)="autocompleteempScroll()">
                                <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                                <ng-container *ngIf="!isLoading">
                                    <mat-option *ngFor="let emp of employeeList" [value]="emp">{{emp.full_name}}
                                    </mat-option>
                                    
                                </ng-container>
                            </mat-autocomplete>
                        </mat-form-field>   
                </div>
                <div class="col-md-3">
                <mat-form-field style="width: 250px;" (click)="getdepartmentdata()">
                    <mat-label>Team</mat-label>
                    <input type="text" matInput formControlName="employeetype" required autocomplete="off" [matAutocomplete]="deptlist" (click)="getdepartmentdata()" #deptInput>
                    <mat-autocomplete #deptinfo #deptlist="matAutocomplete" [displayWith]="getdepartmentinterface" (opened)="autocompleteScrolldept()" >
                        <mat-option *ngIf="isLoading">Loading..</mat-option>
                        <ng-container *ngIf="!isLoading">
                            <mat-option *ngFor="let d of employeetypelist" [value]="d">{{d.name}}</mat-option>
                        </ng-container>
                    </mat-autocomplete>
                </mat-form-field>

            </div>
            <div class="col-md-3">
                <mat-form-field style="width: 250px;" (click)="getsubteamdata()">
                    <mat-label>Sub Team</mat-label>
                    <input type="text" matInput formControlName="employeesubteam" required autocomplete="off" [matAutocomplete]="subdeptlist"  #subdeptInput>
                    <mat-autocomplete #subdeptinfo #subdeptlist="matAutocomplete" [displayWith]="getsubteaminterface" (opened)="autocompleteScrollsubdept()" >
                        <mat-option *ngIf="isLoading">Loading..</mat-option>
                        <ng-container *ngIf="!isLoading">
                            <mat-option *ngFor="let d of subteamdatalist" [value]="d">{{d.name}}</mat-option>
                        </ng-container>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
            <button type="button" (click)="emptypevalue()" class="btn btn-outline-success" style="border-radius: 40px;margin-left:20px;width:79px;height:38px">Submit</button>
            <button type="button" (click)="cancelform()" class="btn btn-outline-success" style="border-radius: 40px;margin-left:20px;width:79px;height:38px">Cancel</button>


        </div>    
        </form>
    </div>
</div>        