<div style="margin-right: 80%;margin-top: 1%; width: 100%;">
   
    <div>
        <h1 style="font-size: 23px;font-family: 'Times New Roman', Times, serif;color: blue;margin-left: 20px;">
            CC BS Mapping Create Form
         </h1>
        <form [formGroup]="CCBSForm" style="margin-top:30px">
            <div class="row" >
                <div class="col-md-3">

                        <mat-form-field style="width: 200px;margin-left: 20px; ">
                            <mat-label>Employee Name</mat-label>
                            <input #empInput placeholder="Select Employee" matInput formControlName="employee_id" 
                                [matAutocomplete]="emp">
    
                            <mat-autocomplete #emp="matAutocomplete" [displayWith]="displayFnemp" (opened)="autocompleteempScroll()">
                                <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                                <ng-container *ngIf="!isLoading">
                                    <mat-option *ngFor="let emp of employeeList" [value]="emp">{{emp.full_name}}
                                    </mat-option>
                                    
                                </ng-container>
                            </mat-autocomplete>
                        </mat-form-field>   
                </div>
                <div class="col-md-3">
                <mat-form-field style="width: 250px;">
                    <mat-label>BS Name</mat-label>
                    <input type="text" matInput formControlName="bsname" required autocomplete="off" [matAutocomplete]="brachsslist" (click)="getbsdata()" #bsInput>
                    <mat-autocomplete #bsinfo #brachsslist="matAutocomplete" [displayWith]="getbsdatainterface" (opened)="autocompleteScrollbs()">
                        <mat-option *ngIf="isLoading">Loading..</mat-option>
                        <ng-container  *ngIf="!isLoading">
                            <mat-option *ngFor="let d of bsdatalist" [value]="d">{{d.name}}</mat-option>
                        </ng-container>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field style="width: 250px;">
                    <mat-label>CC Name</mat-label>
                    <input type="text" matInput formControlName="ccname" required autocomplete="off" [matAutocomplete]="cclist" (click)="getccdata()">
                    <mat-autocomplete #cclist="matAutocomplete" [displayWith]="gerccdatainterface">
                        <mat-option *ngIf="isLoading">Loading..</mat-option>
                        <ng-container  *ngIf="!isLoading">
                            <mat-option *ngFor="let d of ccdatalist" [value]="d">{{d.name}}</mat-option>
                        </ng-container>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
        <!-- </div> -->

            <button type="button" (click)="ccbsValue()" class="btn btn-outline-success" style="border-radius: 40px;margin-left:20px;width:79px;height:38px">Submit</button>
            <button type="button" (click)="cancelform()" class="btn btn-outline-success" style="border-radius: 40px;margin-left:20px;width:79px;height:38px">Cancel</button>


        </div>    
        </form>
    </div>
</div>        